@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
}
.container aside {
  width: 20vw;
  min-height: 200vh;
}
.container aside nav {
  width: 100%;
  height: 100%;
}
.container aside nav .intellyBrand {
  height: 64px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 0px 0px rgba(229, 229, 229, 0.65);
}
.container aside nav .navigation {
  color: #767D87;
  height: 90%;
  width: 100%;
  background-color: rgba(1, 0, 57, 0.04);
}
.container aside nav .navigation_section {
  width: 75%;
  padding-top: 40px;
  padding-left: 10%;
}
.container aside nav .navigation_section h3 {
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 15%;
}
.container aside nav .navigation_section_component {
  width: 100%;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
}
.container aside nav .navigation_section_component img {
  width: 24px;
  height: 24px;
}
.container aside nav .navigation_section_component span {
  width: 80%;
  font-size: 16px;
  font-weight: 400;
  padding-left: 12px;
}
.container aside nav .navigation_section_component.selected {
  color: #504178;
  height: 51px;
  background-color: rgba(80, 65, 120, 0.2);
  border-radius: 10px;
}
.container aside nav .navigation_section_component.selected img {
  width: 24px;
  height: 24px;
  padding-left: 7.5%;
}
.container aside nav .navigation_section_component.selected span {
  width: 80%;
  padding-left: 12px;
}
.container main {
  display: flex;
  flex-direction: column;
}
.container main .topBar {
  position: fixed;
  width: 80vw;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 1px 0px 0px rgb(229, 229, 229);
  background-color: white;
}
.container main .topBar .searchBar {
  width: 50%;
  margin-left: 32px;
  height: 32px;
  background-color: rgba(1, 0, 57, 0.04);
  border-radius: 5px;
}
.container main .topBar .searchBar input {
  color: rgb(31, 56, 76);
  font-size: 12px;
  font-weight: 300;
  width: 95%;
  height: 100%;
  border: none;
  background-color: rgba(1, 0, 57, 0);
  padding-left: 15px;
}
.container main .topBar .searchBar input::-moz-placeholder {
  color: rgba(31, 56, 76, 0.4);
}
.container main .topBar .searchBar input::placeholder {
  color: rgba(31, 56, 76, 0.4);
}
.container main .topBar .searchBar img {
  width: 12px;
  height: 12px;
}
.container main .topBar .enterprise {
  margin-left: 30%;
  margin-right: 32px;
  width: 25%;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container main .topBar .enterprise_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFE6CC;
  height: 32px;
  width: 32px;
  border-radius: 30px;
}
.container main .topBar .enterprise_icon img {
  width: 16px;
  height: 16px;
}
.container main .topBar .enterprise span {
  padding-left: 12px;
  padding-right: 3px;
}
.container main .topBar .enterprise_notification {
  padding-left: 32px;
}
.container main .topBar .enterprise_notification img {
  width: 12.8px;
  height: 16px;
}
.container main .dashboard {
  background-color: rgb(246, 248, 250);
  height: 100vh;
  width: 80vw;
}
.container main .dashboard h1 {
  margin-top: 97px;
  margin-left: 40px;
  font-size: 24px;
}
.container main .dashboard .percentages {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 40px;
  margin-top: 33px;
}
.container main .dashboard .percentages_container {
  width: 18%;
  margin-right: 33px;
  display: flex;
  flex-direction: row;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
}
.container main .dashboard .percentages_container .icon1 {
  background: linear-gradient(135deg, #504178 0%, #FF7B8A 100%);
}
.container main .dashboard .percentages_container .icon2 {
  background: linear-gradient(135deg, #42BA17 0%, #9FF182 100%);
}
.container main .dashboard .percentages_container .icon3 {
  background: linear-gradient(135deg, #5A6ACF 0%, #FF7B8A 100%);
}
.container main .dashboard .percentages_container .icon4 {
  background: linear-gradient(135deg, #D32136 0%, #FF7B8A 100%);
}
.container main .dashboard .percentages_container .icon {
  height: 63px;
  width: 63px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-right: 18px;
}
.container main .dashboard .percentages_container .icon img {
  height: 39px;
  width: 39px;
}
.container main .dashboard .percentages_container .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container main .dashboard .percentages_container .details .stats span:nth-child(1) {
  font-size: 24px;
  font-weight: 600;
}
.container main .dashboard .percentages_container .details .stats span:nth-child(3) {
  font-size: 12px;
  font-weight: 600;
  color: rgb(20, 157, 82);
}
.container main .dashboard .percentages_container .details span.name {
  font-size: 14px;
  font-weight: 400;
}
.container main .dashboard .statistics {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 520px;
  margin-left: 40px;
  margin-top: 33px;
  background-color: white;
  border-radius: 10px;
}
.container main .dashboard .statistics_container {
  width: 50vw;
  display: flex;
  flex-direction: column;
}
.container main .dashboard .statistics_container .titleAndDate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 52.5px;
  margin-bottom: 35px;
}
.container main .dashboard .statistics_container .titleAndDate h2 {
  font-size: 18px;
  font-weight: 600;
}
.container main .dashboard .statistics_container .titleAndDate .dateContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  color: rgb(80, 65, 120);
}
.container main .dashboard .statistics_container .titleAndDate .dateContainer img {
  height: 18px;
  width: 18px;
  color: rgb(80, 65, 120);
  padding-right: 9px;
}
.container main .dashboard .statistics_container .numbersAndBars {
  display: flex;
  flex-direction: row;
  width: 10%;
}
.container main .dashboard .statistics_container .numbersAndBars .numbers {
  height: 398px;
  display: flex;
  flex-direction: column;
  color: rgb(147, 147, 147);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-left: 37px;
}
.container main .dashboard .statistics_container .numbersAndBars .numbers .number {
  width: 30px;
  height: 9.09%;
  margin-bottom: 17px;
}
.container main .dashboard .statistics_container .numbersAndBars .barsAndMonths {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 13px;
}
.container main .dashboard .statistics_container .numbersAndBars .barsAndMonths .data {
  margin-right: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 407px;
  max-height: 407px;
}
.container main .dashboard .statistics_container .numbersAndBars .barsAndMonths .data .emptyBar {
  width: 20px;
  min-height: 379px;
  background-color: rgb(237, 231, 253);
}
.container main .dashboard .statistics_container .numbersAndBars .barsAndMonths .data .month {
  font-size: 12px;
  font-weight: 600;
  color: rgb(147, 147, 147);
  margin-top: 12px;
}/*# sourceMappingURL=index.css.map */