@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  width: 100vw;
  height: 100vh;
}

.sideAndTopBar {
  display: flex;
  flex-direction: row;
}
.sideAndTopBar aside {
  width: 20vw;
  height: 100vh;
}
.sideAndTopBar aside nav {
  width: 100%;
  height: 100%;
}
.sideAndTopBar aside nav .intellyBrand {
  height: 64px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 0px 0px rgba(229, 229, 229, 0.65);
}
.sideAndTopBar aside nav .navigation {
  color: #767D87;
  height: 90%;
  width: 100%;
  background-color: rgba(1, 0, 57, 0.04);
}
.sideAndTopBar aside nav .navigation_section {
  width: 75%;
  padding-top: 40px;
  padding-left: 10%;
}
.sideAndTopBar aside nav .navigation_section h3 {
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 15%;
}
.sideAndTopBar aside nav .navigation_section_component {
  width: 100%;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
}
.sideAndTopBar aside nav .navigation_section_component img {
  width: 24px;
  height: 24px;
}
.sideAndTopBar aside nav .navigation_section_component span {
  width: 80%;
  font-size: 16px;
  font-weight: 400;
  padding-left: 12px;
}
.sideAndTopBar aside nav .navigation_section_component.selected {
  color: #504178;
  height: 51px;
  background-color: rgba(80, 65, 120, 0.2);
  border-radius: 10px;
}
.sideAndTopBar aside nav .navigation_section_component.selected img {
  width: 24px;
  height: 24px;
  padding-left: 7.5%;
}
.sideAndTopBar aside nav .navigation_section_component.selected span {
  width: 80%;
  padding-left: 12px;
}
.sideAndTopBar .topBar {
  width: 80vw;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 1px 0px 0px rgb(229, 229, 229);
}
.sideAndTopBar .topBar .searchBar {
  width: 50%;
  margin-left: 32px;
  height: 32px;
  background-color: rgba(1, 0, 57, 0.04);
  border-radius: 5px;
}
.sideAndTopBar .topBar .searchBar input {
  color: rgb(31, 56, 76);
  font-size: 12px;
  font-weight: 300;
  width: 95%;
  height: 100%;
  border: none;
  background-color: rgba(1, 0, 57, 0);
  padding-left: 15px;
}
.sideAndTopBar .topBar .searchBar input::-moz-placeholder {
  color: rgba(31, 56, 76, 0.4);
}
.sideAndTopBar .topBar .searchBar input::placeholder {
  color: rgba(31, 56, 76, 0.4);
}
.sideAndTopBar .topBar .searchBar img {
  width: 12px;
  height: 12px;
}
.sideAndTopBar .topBar .enterprise {
  margin-left: 30%;
  margin-right: 32px;
  width: 25%;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sideAndTopBar .topBar .enterprise_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFE6CC;
  height: 32px;
  width: 32px;
  border-radius: 30px;
}
.sideAndTopBar .topBar .enterprise_icon img {
  width: 16px;
  height: 16px;
}
.sideAndTopBar .topBar .enterprise span {
  padding-left: 12px;
  padding-right: 3px;
}
.sideAndTopBar .topBar .enterprise_notification {
  padding-left: 32px;
}
.sideAndTopBar .topBar .enterprise_notification img {
  width: 12.8px;
  height: 16px;
}/*# sourceMappingURL=index.css.map */