@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


@keyframes animateStatistics1 {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(29.6);
    }
    
}
@keyframes animateStatistics2 {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(19);
    }
    
}
@keyframes animateStatistics3 {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(24);
    }
    
}
@keyframes animateStatistics4 {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(10.6);
    }
    
}
@keyframes animateStatistics5 {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(19);
    }
    
}
@keyframes animateStatistics6 {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(26.8);
    }
    
}
@keyframes animateStatistics7 {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(15.4);
    }
    
}
@keyframes animateStatistics8 {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(33.2);
    }
    
}
@keyframes animateStatistics9 {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(26.8);
    }
    
}
@keyframes animateStatistics10 {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(21);
    }
    
}
@keyframes animateStatistics11 {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(30.8);
    }
    
}
@keyframes animateStatistics12 {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(25.8);
    }
    
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    width: 100vw;
    height: 100vh;
    background-color: rgb(246, 248, 250);
}

.container {
    display: flex;
    flex-direction: row;
    aside {
        width: 20vw;
        min-height: 200vh;
        nav {
            width: 100%;
            height: 100%;
            .intellyBrand {
                height: 64px;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                box-shadow: 0px 1px 0px 0px rgba(229, 229, 229, 0.65);
                background-color: white;
            }
            .navigation {
                color: #767D87;
                height: 100%;
                width: 100%;
                background-color: rgba(1, 0, 57, 0.04);
                
                &_section {
                    width: 75%;
                    padding-top: 40px;
                    padding-left: 10%;
                    h3 {
                        font-size: 11px;
                        letter-spacing: 1px;
                        margin-bottom: 15%;
                    }
                    &_component {
                        width: 100%;
                        height: 24px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-bottom: 24px;
                        img {
                            width: 24px;
                            height: 24px;
                        }
                        span {
                            width: 80%;
                            font-size: 16px;
                            font-weight: 400;
                            padding-left: 12px;
                        }
                    }
                    &_component.selected {
                        color: #504178;
                        height: 51px;
                        background-color: rgba(80, 65, 120, 0.2);
                        border-radius: 10px;
                        img {
                            width: 24px;
                            height: 24px;
                            padding-left: 7.5%;
                        }
                        span {
                            width: 80%;
                            padding-left: 12px;
                        }
                    }
                }
            }
        }
    }
    main {
        display: flex;
        flex-direction: column;
        background-color: rgb(246, 248, 250);
        .topBar {
            position: fixed;
            width: 80vw;
            height: 64px;
            display: flex;
            flex-direction: row;
            align-items: center;
            box-shadow: 0px 1px 0px 0px rgba(229, 229, 229, 1);
            background-color: white;
            .searchBar {
                width: 50%;
                margin-left: 32px;
                height: 32px;
                background-color: rgba(1, 0, 57, 0.04);
                border-radius: 5px;
                input {
                    color: rgb(31, 56, 76);
                    font-size: 12px;
                    font-weight: 300;
                    width: 95%;
                    height: 100%;
                    border: none;
                    background-color: rgba(1, 0, 57, 0.0);
                    padding-left: 15px;
                    &::placeholder {
                        color: rgba(31, 56, 76, 0.4);
                    }
                }
                img {
                    width: 12px;
                    height: 12px;
                }
    
            }
            .enterprise {
                margin-left: 30%;
                margin-right: 32px;
                width: 25%;
                height: 32px;
                display: flex;
                flex-direction: row;
                align-items: center;
                &_icon {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background-color: #FFE6CC;
                    height: 32px;
                    width: 32px;
                    border-radius: 30px;
                    img {
                        width: 16px;
                        height: 16px;
                    }
                }
                span {
                    padding-left: 12px;
                    padding-right: 3px;
                }
                
                &_notification {
                    padding-left: 32px;
                    position: relative;
                    img {
                        width: 12.8px;
                        height: 16px;
                    }
                    div {
                        width: 6px;
                        height: 6px;
                        background-color: rgba(236, 82, 82, 1);
                        border-radius: 30px;
                        position: absolute;
                        top: 0%;
                        left: 90%;
                        border: 1px solid white;
                    }
                }
            }
        }
        .dashboard {
            background-color: rgba(246, 248, 250, 1);
            height: 100vh;
            width: 80vw;
            h1 {
                margin-top: calc(64px + 33px);
                margin-left: 40px;
                font-size: 24px;
            }
            .percentages {
                display: flex;
                flex-direction: row;
                width: 100%;
                margin-left: 40px;
                margin-top: 33px;
                &_container {
                    width: 15.5vw;
                    margin-right: 2.25vw;
                    display: flex;
                    flex-direction: row;
                    padding: 15px;
                    background-color: white;
                    border-radius: 10px;
                    .icon1 {
                        background: linear-gradient(135deg, #504178 0%, #FF7B8A 100%);
                    }
                    .icon2 {
                        background: linear-gradient(135deg, #42BA17 0%, #9FF182 100%);
                    }
                    .icon3 {
                        background: linear-gradient(135deg, #5A6ACF 0%, #FF7B8A 100%);
                    }
                    .icon4 {
                        background: linear-gradient(135deg, #D32136 0%, #FF7B8A 100%);
                        
                    }
                    .icon {
                        height: 63px;
                        width: 63px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border-radius: 10px;
                        margin-right: 18px;
                        img {
                            height: 39px;
                            width: 39px;
                        }
                    }
                    .details {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .stats {
                            span:nth-child(1) {
                                font-size: 24px;
                                font-weight: 600;
                            }
                            span:nth-child(3) {
                                font-size: 12px;
                                font-weight: 600;
                                color: rgba(20, 157, 82, 1);
                            }
                        }
                        span.name {
                            font-size: 14px;
                            font-weight: 400;
                            
                        }
                    }
                }
            }
            .statistics {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 75vw;
                height: 530px;
                margin-left: 40px;
                margin-top: 33px;
                background-color: white;
                border-radius: 10px;
                &_container {
                    width: 65%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-self: baseline;
                    .titleAndDate {
                        width: 80%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 25px;
                        margin-left: 25px;
                        margin-right: 52.5px;
                        margin-bottom: 25px;
                        h2 {
                            font-size: 18px;
                            font-weight: 600;
                        }
                        .dateContainer {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            border: 1px solid rgba(0, 0, 0, 0.2);
                            border-radius: 10px;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            padding-left: 25px;
                            padding-right: 25px;
                            color: rgba(80, 65, 120, 1);
                            img {
                                height: 18px;
                                width: 18px;
                                color: rgba(80, 65, 120, 1);
                                padding-right: 9px;
                            }
                        }
                    }
                    .numbersAndBars {
                        display: flex;
                        flex-direction: row;
                        width: 10%;
                        .numbers {
                            height: 410px;
                            display: flex;
                            flex-direction: column;
                            color: rgba(147, 147, 147, 1);
                            font-size: 12px;
                            font-weight: 600;
                            letter-spacing: 0.5px;
                            margin-left: 37px;
                            .number {
                                width: 30px;
                                height: 9.09%;
                                margin-bottom: 15px;
                            }
                        }
                        .barsAndMonths {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            margin-left: 13px;
                            .data {
                                margin-right: 2vw;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                height: 407px;
                                max-height: 407px;
                                position: relative;
                                
                                .emptyBar {
                                    
                                    width: 20px;
                                    min-height: 379px;
                                    background-color: rgba(237, 231, 253, 1);
                                }
                                .filledBar {
                                    
                                    transform-origin: bottom;
                                    position: absolute;
                                    top: 93%;
                                    width: 20px;
                                    background-color: rgba(80, 65, 120, 1);
                                    transform-origin: bottom;
                                    height: 10px;
                                    
                                    
                                }
                                .filledBar1 {
                                    animation-name: animateStatistics1;
                                    animation-duration: 350ms ease;
                                    animation-fill-mode: forwards;
                                    transform: scaleY(29.6);
                                }
                                .filledBar2 {
                                    animation-name: animateStatistics2;
                                    animation-duration: 350ms ease;
                                    animation-fill-mode: forwards;
                                    transform: scaleY(19);
                                }
                                .filledBar3 {
                                    animation-name: animateStatistics3;
                                    animation-duration: 350ms ease;
                                    animation-fill-mode: forwards;
                                    transform: scaleY(24);
                                }
                                .filledBar4 {
                                    animation-name: animateStatistics4;
                                    animation-duration: 350ms ease;
                                    animation-fill-mode: forwards;
                                    transform: scaleY(10.6);
                                }
                                .filledBar5 {
                                    animation-name: animateStatistics5;
                                    animation-duration: 350ms ease;
                                    animation-fill-mode: forwards;
                                    transform: scaleY(19);
                                }
                                .filledBar6 {
                                    animation-name: animateStatistics6;
                                    animation-duration: 350ms ease;
                                    animation-fill-mode: forwards;
                                    transform: scaleY(26.8);
                                }
                                .filledBar7 {
                                    animation-name: animateStatistics7;
                                    animation-duration: 350ms ease;
                                    animation-fill-mode: forwards;
                                    transform: scaleY(15.4);
                                }
                                .filledBar8 {
                                    animation-name: animateStatistics8;
                                    animation-duration: 350ms ease;
                                    animation-fill-mode: forwards;
                                    transform: scaleY(33.2);
                                }
                                .filledBar9 {
                                    animation-name: animateStatistics9;
                                    animation-duration: 350ms ease;
                                    animation-fill-mode: forwards;
                                    transform: scaleY(26.8);
                                }
                                .filledBar10 {
                                    animation-name: animateStatistics10;
                                    animation-duration: 350ms ease;
                                    animation-fill-mode: forwards;
                                    transform: scaleY(21);
                                }
                                .filledBar11 {
                                    animation-name: animateStatistics11;
                                    animation-duration: 350ms ease;
                                    animation-fill-mode: forwards;
                                    transform: scaleY(30.8);
                                }
                                .filledBar12 {
                                    animation-name: animateStatistics12;
                                    animation-duration: 350ms ease;
                                    animation-fill-mode: forwards;
                                    transform: scaleY(25.8);
                                }
                                
                                .month {
                                    font-size: 12px;
                                    font-weight: 600;
                                    color: rgba(147, 147, 147, 1);
                                    margin-top: 12px;
                                }
                            }
                        }
                    }
                }
                .straightBar {
                    min-width: 0.5px;
                    min-height: 461px;
                    background-color: rgba(214, 214, 214, 1);
                    margin-right: 31.5px;
                }
                .listContainer {
                    margin-top: 25px;
                    width: 30%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-right: 32px;
                    align-self: baseline;
                    h2 {
                        font-size: 18px;
                        font-weight: 600;
                        margin-bottom: 25px;
                    }
                    ul {
                        li {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            margin-bottom: 14px;
                            span:nth-child(1) {
                                font-size: 14px;
                                font-weight: 500;
                                color: rgba(39, 50, 64, 1);
                            }
                            span:nth-child(2) {
                                font-size: 14px;
                                font-weight: 500;
                                color: rgba(39, 50, 64, 0.5);
                            }
                        }
                    }
                }
                
            }
            .overview {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 75vw;
                height: 550px;
                margin-left: 40px;
                margin-top: 33px;
                background-color: white;
                border-radius: 10px;
                padding-bottom: 9px;
                margin-bottom: 24.5px;
                &_search {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 5vh;
                    h2 {
                        font-size: 18px;
                        font-weight: 600;
                        color: rgba(31, 56, 76, 1);
                        padding-top: 29px;
                        padding-left: 32px
                    }
                    input {
                        margin-top: 29px;
                        margin-right: 32px;
                        width: 198px;
                        height: 50px;
                        background-color: rgba(246, 248, 250, 1);
                        font-size: 16px;
                        font-weight: 400;
                        border-radius: 10px;
                        border: none;
                        padding-top: 13px;
                        padding-bottom: 13px;
                        padding-left: 19px;
                        &::placeholder {
                            color: rgba(176, 176, 176, 1);
                            font-size: 16px;
                            font-weight: 400;
                        }
                    }
                }
                &_list {
                    margin-right: 32px;
                    margin-left: 32px;
                    .colored {
                        height: 55px;
                        background-color: rgba(243, 246, 249, 0.5);
                    }
                    .uncolored {
                        height: 55px;
                        background-color: white;
                    }
                    .columnNames {
                        height: 43px;
                        background-color: rgba(243, 246, 249, 1);
                        border-radius: 5px;
                        span {
                            font-size: 14;
                            font-weight: 600;
                            color: rgba(70, 78, 95, 1);
                        }
                    }
                    li {
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        align-items: center;
                        span{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: left;
                            text-align: left;
                        }
                        span:nth-child(1) {
                            width: 5%;
                            padding-left: 20px;
                        }
                        span:nth-child(2) {
                            width: 25%;
                        }
                        span:nth-child(3) {
                            width: 25%;
                        }
                        span:nth-child(4) {
                            width: 25%;
                        }
                        span:nth-child(5) {
                            width: 15%;
                        }
                    }
                }
            }
            .pages {
                display: flex;
                flex-direction: row;
                justify-content: right;
                align-items: center;
                width: 75vw;
                margin-top: 24.5px;
                margin-left: 40px;
                span:nth-child(1) {
                    font-size: 14px;
                    font-weight: 600;
                    color: rgba(134, 134, 140, 1);
                    
                    height: 18px;
                }
                span:nth-child(7) {
                    font-size: 14px;
                    font-weight: 600;
                    color: rgba(1, 0, 57, 1);
                    
                    height: 18px;
                }
                .number {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 35px;
                    width: 35px;
                    background-color: white;
                    margin-right: 6px;
                    border-radius: 6px;
                }
                .number:nth-child(2) {
                    background-color: rgba(80, 65, 120, 1);
                    color: white;
                    margin-left: 12px;
                }
                .number:nth-child(6) {
                    margin-right: 12px;
                }
            }
        }
    }
   
}



