@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  width: 100vw;
  height: 100vh;
  background-color: rgb(246, 248, 250);
}

.container {
  display: flex;
  flex-direction: row;
}
.container aside {
  width: 20vw;
  min-height: 200vh;
}
.container aside nav {
  width: 100%;
  height: 100%;
}
.container aside nav .intellyBrand {
  height: 64px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 0px 0px rgba(229, 229, 229, 0.65);
  background-color: white;
}
.container aside nav .navigation {
  color: #767D87;
  height: 100%;
  width: 100%;
  background-color: rgba(1, 0, 57, 0.04);
}
.container aside nav .navigation_section {
  width: 75%;
  padding-top: 40px;
  padding-left: 10%;
}
.container aside nav .navigation_section h3 {
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 15%;
}
.container aside nav .navigation_section_component {
  width: 100%;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
}
.container aside nav .navigation_section_component img {
  width: 24px;
  height: 24px;
}
.container aside nav .navigation_section_component span {
  width: 80%;
  font-size: 16px;
  font-weight: 400;
  padding-left: 12px;
}
.container aside nav .navigation_section_component.selected {
  color: #504178;
  height: 51px;
  background-color: rgba(80, 65, 120, 0.2);
  border-radius: 10px;
}
.container aside nav .navigation_section_component.selected img {
  width: 24px;
  height: 24px;
  padding-left: 7.5%;
}
.container aside nav .navigation_section_component.selected span {
  width: 80%;
  padding-left: 12px;
}
.container main {
  display: flex;
  flex-direction: column;
  background-color: rgb(246, 248, 250);
}
.container main .topBar {
  position: fixed;
  width: 80vw;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 1px 0px 0px rgb(229, 229, 229);
  background-color: white;
}
.container main .topBar .searchBar {
  width: 50%;
  margin-left: 32px;
  height: 32px;
  background-color: rgba(1, 0, 57, 0.04);
  border-radius: 5px;
}
.container main .topBar .searchBar input {
  color: rgb(31, 56, 76);
  font-size: 12px;
  font-weight: 300;
  width: 95%;
  height: 100%;
  border: none;
  background-color: rgba(1, 0, 57, 0);
  padding-left: 15px;
}
.container main .topBar .searchBar input::-moz-placeholder {
  color: rgba(31, 56, 76, 0.4);
}
.container main .topBar .searchBar input::placeholder {
  color: rgba(31, 56, 76, 0.4);
}
.container main .topBar .searchBar img {
  width: 12px;
  height: 12px;
}
.container main .topBar .enterprise {
  margin-left: 30%;
  margin-right: 32px;
  width: 25%;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container main .topBar .enterprise_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFE6CC;
  height: 32px;
  width: 32px;
  border-radius: 30px;
}
.container main .topBar .enterprise_icon img {
  width: 16px;
  height: 16px;
}
.container main .topBar .enterprise span {
  padding-left: 12px;
  padding-right: 3px;
}
.container main .topBar .enterprise_notification {
  padding-left: 32px;
  position: relative;
}
.container main .topBar .enterprise_notification img {
  width: 12.8px;
  height: 16px;
}
.container main .topBar .enterprise_notification div {
  width: 6px;
  height: 6px;
  background-color: rgb(236, 82, 82);
  border-radius: 30px;
  position: absolute;
  top: 0%;
  left: 90%;
  border: 1px solid white;
}
.container main .dashboard {
  background-color: rgb(246, 248, 250);
  height: 100vh;
  width: 80vw;
}
.container main .dashboard h1 {
  margin-top: 97px;
  margin-left: 40px;
  font-size: 24px;
}
.container main .dashboard .percentages {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 40px;
  margin-top: 33px;
}
.container main .dashboard .percentages_container {
  width: 15.5vw;
  margin-right: 2.25vw;
  display: flex;
  flex-direction: row;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
}
.container main .dashboard .percentages_container .icon1 {
  background: linear-gradient(135deg, #504178 0%, #FF7B8A 100%);
}
.container main .dashboard .percentages_container .icon2 {
  background: linear-gradient(135deg, #42BA17 0%, #9FF182 100%);
}
.container main .dashboard .percentages_container .icon3 {
  background: linear-gradient(135deg, #5A6ACF 0%, #FF7B8A 100%);
}
.container main .dashboard .percentages_container .icon4 {
  background: linear-gradient(135deg, #D32136 0%, #FF7B8A 100%);
}
.container main .dashboard .percentages_container .icon {
  height: 63px;
  width: 63px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-right: 18px;
}
.container main .dashboard .percentages_container .icon img {
  height: 39px;
  width: 39px;
}
.container main .dashboard .percentages_container .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container main .dashboard .percentages_container .details .stats span:nth-child(1) {
  font-size: 24px;
  font-weight: 600;
}
.container main .dashboard .percentages_container .details .stats span:nth-child(3) {
  font-size: 12px;
  font-weight: 600;
  color: rgb(20, 157, 82);
}
.container main .dashboard .percentages_container .details span.name {
  font-size: 14px;
  font-weight: 400;
}
.container main .dashboard .statistics {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 75vw;
  height: 530px;
  margin-left: 40px;
  margin-top: 33px;
  background-color: white;
  border-radius: 10px;
}
.container main .dashboard .statistics_container {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self: baseline;
}
.container main .dashboard .statistics_container .titleAndDate {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 52.5px;
  margin-bottom: 25px;
}
.container main .dashboard .statistics_container .titleAndDate h2 {
  font-size: 18px;
  font-weight: 600;
}
.container main .dashboard .statistics_container .titleAndDate .dateContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  color: rgb(80, 65, 120);
}
.container main .dashboard .statistics_container .titleAndDate .dateContainer img {
  height: 18px;
  width: 18px;
  color: rgb(80, 65, 120);
  padding-right: 9px;
}
.container main .dashboard .statistics_container .numbersAndBars {
  display: flex;
  flex-direction: row;
  width: 10%;
}
.container main .dashboard .statistics_container .numbersAndBars .numbers {
  height: 410px;
  display: flex;
  flex-direction: column;
  color: rgb(147, 147, 147);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-left: 37px;
}
.container main .dashboard .statistics_container .numbersAndBars .numbers .number {
  width: 30px;
  height: 9.09%;
  margin-bottom: 15px;
}
.container main .dashboard .statistics_container .numbersAndBars .barsAndMonths {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 13px;
}
.container main .dashboard .statistics_container .numbersAndBars .barsAndMonths .data {
  margin-right: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 407px;
  max-height: 407px;
  position: relative;
}
.container main .dashboard .statistics_container .numbersAndBars .barsAndMonths .data .emptyBar {
  width: 20px;
  min-height: 379px;
  background-color: rgb(237, 231, 253);
}
.container main .dashboard .statistics_container .numbersAndBars .barsAndMonths .data .filledBar {
  transform-origin: bottom;
  position: absolute;
  top: 93%;
  width: 20px;
  background-color: rgb(80, 65, 120);
  transform-origin: bottom;
  height: 10px;
}
.container main .dashboard .statistics_container .numbersAndBars .barsAndMonths .data .filledBar1 {
  transform: scaleY(29.6);
}
.container main .dashboard .statistics_container .numbersAndBars .barsAndMonths .data .filledBar2 {
  transform: scaleY(19);
}
.container main .dashboard .statistics_container .numbersAndBars .barsAndMonths .data .filledBar3 {
  transform: scaleY(24);
}
.container main .dashboard .statistics_container .numbersAndBars .barsAndMonths .data .filledBar4 {
  transform: scaleY(10.6);
}
.container main .dashboard .statistics_container .numbersAndBars .barsAndMonths .data .filledBar5 {
  transform: scaleY(19);
}
.container main .dashboard .statistics_container .numbersAndBars .barsAndMonths .data .filledBar6 {
  transform: scaleY(26.8);
}
.container main .dashboard .statistics_container .numbersAndBars .barsAndMonths .data .filledBar7 {
  transform: scaleY(15.4);
}
.container main .dashboard .statistics_container .numbersAndBars .barsAndMonths .data .filledBar8 {
  transform: scaleY(33.2);
}
.container main .dashboard .statistics_container .numbersAndBars .barsAndMonths .data .filledBar9 {
  transform: scaleY(26.8);
}
.container main .dashboard .statistics_container .numbersAndBars .barsAndMonths .data .filledBar10 {
  transform: scaleY(21);
}
.container main .dashboard .statistics_container .numbersAndBars .barsAndMonths .data .filledBar11 {
  transform: scaleY(30.8);
}
.container main .dashboard .statistics_container .numbersAndBars .barsAndMonths .data .filledBar12 {
  transform: scaleY(25.8);
}
.container main .dashboard .statistics_container .numbersAndBars .barsAndMonths .data .month {
  font-size: 12px;
  font-weight: 600;
  color: rgb(147, 147, 147);
  margin-top: 12px;
}
.container main .dashboard .statistics .straightBar {
  min-width: 0.5px;
  min-height: 461px;
  background-color: rgb(214, 214, 214);
  margin-right: 31.5px;
}
.container main .dashboard .statistics .listContainer {
  margin-top: 25px;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  align-self: baseline;
}
.container main .dashboard .statistics .listContainer h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
}
.container main .dashboard .statistics .listContainer ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 14px;
}
.container main .dashboard .statistics .listContainer ul li span:nth-child(1) {
  font-size: 14px;
  font-weight: 500;
  color: rgb(39, 50, 64);
}
.container main .dashboard .statistics .listContainer ul li span:nth-child(2) {
  font-size: 14px;
  font-weight: 500;
  color: rgba(39, 50, 64, 0.5);
}
.container main .dashboard .overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75vw;
  height: 550px;
  margin-left: 40px;
  margin-top: 33px;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 9px;
  margin-bottom: 24.5px;
}
.container main .dashboard .overview_search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5vh;
}
.container main .dashboard .overview_search h2 {
  font-size: 18px;
  font-weight: 600;
  color: rgb(31, 56, 76);
  padding-top: 29px;
  padding-left: 32px;
}
.container main .dashboard .overview_search input {
  margin-top: 29px;
  margin-right: 32px;
  width: 198px;
  height: 50px;
  background-color: rgb(246, 248, 250);
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
  border: none;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 19px;
}
.container main .dashboard .overview_search input::-moz-placeholder {
  color: rgb(176, 176, 176);
  font-size: 16px;
  font-weight: 400;
}
.container main .dashboard .overview_search input::placeholder {
  color: rgb(176, 176, 176);
  font-size: 16px;
  font-weight: 400;
}
.container main .dashboard .overview_list {
  margin-right: 32px;
  margin-left: 32px;
}
.container main .dashboard .overview_list .colored {
  height: 55px;
  background-color: rgba(243, 246, 249, 0.5);
}
.container main .dashboard .overview_list .uncolored {
  height: 55px;
  background-color: white;
}
.container main .dashboard .overview_list .columnNames {
  height: 43px;
  background-color: rgb(243, 246, 249);
  border-radius: 5px;
}
.container main .dashboard .overview_list .columnNames span {
  font-size: 14;
  font-weight: 600;
  color: rgb(70, 78, 95);
}
.container main .dashboard .overview_list li {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
.container main .dashboard .overview_list li span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
}
.container main .dashboard .overview_list li span:nth-child(1) {
  width: 5%;
  padding-left: 20px;
}
.container main .dashboard .overview_list li span:nth-child(2) {
  width: 25%;
}
.container main .dashboard .overview_list li span:nth-child(3) {
  width: 25%;
}
.container main .dashboard .overview_list li span:nth-child(4) {
  width: 25%;
}
.container main .dashboard .overview_list li span:nth-child(5) {
  width: 15%;
}
.container main .dashboard .pages {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  width: 75vw;
  margin-top: 24.5px;
  margin-left: 40px;
}
.container main .dashboard .pages span:nth-child(1) {
  font-size: 14px;
  font-weight: 600;
  color: rgb(134, 134, 140);
  height: 18px;
}
.container main .dashboard .pages span:nth-child(7) {
  font-size: 14px;
  font-weight: 600;
  color: rgb(1, 0, 57);
  height: 18px;
}
.container main .dashboard .pages .number {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  background-color: white;
  margin-right: 6px;
  border-radius: 6px;
}
.container main .dashboard .pages .number:nth-child(2) {
  background-color: rgb(80, 65, 120);
  color: white;
  margin-left: 12px;
}
.container main .dashboard .pages .number:nth-child(6) {
  margin-right: 12px;
}/*# sourceMappingURL=index.css.map */